/submission/
/data/
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/QRT foot challenge.iml
/.idea/workspace.xml
/pythonProject/.idea/workspace.xml
/pythonProject/
/.idea/aws.xml
/.idea/foot-challenge.iml
/.idea/jupyter-settings.xml
/.idea/misc.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/dataSources.xml
